# KANEKI STORE — Vercel
POSTGRES_URL=
SESSION_SECRET=

# Google OAuth 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PUBLIC_BASE_URL=https://kanekistorepixasaasrealwebhooksandb.vercel.app

# Opcional — Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
